<div class="flex flex-col">
    <h1 class="text-3xl">Start sprint {{sprint_number}}</h1>
    <div>
        <mat-form-field class="w-full">
            <mat-label>Sprint Goal</mat-label>
            <textarea matInput placeholder="Sprint Goal" required [formControl]="sprintGoalCtrl"></textarea>
        </mat-form-field>
        <div class="flex gap-2 justify-end">
            <button mat-flat-button color="primary" (click)="startSprint()" >Start</button>
            <button mat-flat-button color="warn" (click)="closeDialog()">Cancel</button>
        </div>
    </div>
</div>