<div class="absolute inset-0">
    <!-- Main -->
    <div class="flex flex-col flex-auto items-center justify-center h-full p-6 sm:p-10">
        <!-- @formatter:off -->
        <div class="w-full max-w-3xl">
            <app-error-image [code]="code"></app-error-image>
        </div>
        <!-- @formatter:on -->
        <div
            class="mt-12 sm:mt-24 text-4xl md:text-7xl font-extrabold tracking-tight leading-tight md:leading-none text-center">
            Ooops... {{code}}!</div>
        <div class="mt-2 text-lg md:text-xl font-medium tracking-tight text-center text-secondary">{{messageError | transloco}}</div>
        <!-- <a
            class="mt-12 font-medium underline text-primary-500"
            [routerLink]="['/']">
            Back to Dashboard
        </a> -->
    </div>
</div>
